
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #742150;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #ac0ff5;
  font-size: 8rem;
  color: hsla(198, 83%, 50%, 0.815);
}

p {
  font-size: 2rem;
  color: #19aded;
  font-family: 'arial', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #240fc2;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button{
  text-align: center;
  background-color: aqua;
  color: rgb(229, 52, 25);
}
